.addTask{
    width: 20%;
}
.showTask {
    width: 80%;
    float: left;
}
.sumbitBtn {
    width: 40%;
}

.box-1 {
    width: 30%;
    border: 2px solid blue;
    padding-top: 15px;
}

.box-2 {
    width: 70%;
    float: left;
    border: 2px solid blue;
    padding-top: 15px;
}
.box-3 {
    width: 100%;
    border: 2px solid blue;
    padding-top: 15px;
    padding-bottom: 100px;
}
.btn-x {
    width: 30%;
}
.box {
    border: 2px solid blue;
}
.inpDes {
    width: 200px;
    height: 150px;
    padding: 150px;
    border: 1px solid #999;
    font-size: 16px;
    font-family: Tahoma;
}